<div class="home">
  <section class="top">
    <div class="container">
      <h2 class="headline">
        Snippetsで初心者のエンジニアと繋がろう！
      </h2>
      <div class="detail">
        <p>
          Snippetsは、Webエンジニアを目指す皆様が、知識を記録・共有するためのサービスです。<br>
          初心者のエンジニアとたくさん繋がってWebエンジニアの世界を一緒に広げよう！
        </p>
      </div>
      <div class="registration">
        <%= link_to "今すぐはじめる", new_user_registration_path, class: "btn" %>
      </div>
    </div>
  </section>

  <section class="middle-blue">
    <div class="container">
      <div class="left">
        <h2 class="headline">
          コードをメモとして投稿
        </h2>
        <div class="detail">
          <p>
            学習した内容をメモとして残せます。<br>
            Markdown記法で書くと見やすい形で残すことができます。
          </p>
        </div>
      </div>
      <div class="right">
        <%= image_tag 'code.png' %>
      </div>
    </div>
  </section>

  <section class="middle-white">
    <div class="container">
      <div class="left">
        <%= image_tag 'favorite.png' %>
      </div>
      <div class="right">
        <h2 class="headline">
          他人の投稿にいいね
        </h2>
        <div class="detail">
          <p>
            他人の投稿にいいねすることができます。<br>
            参考になる投稿があればいいねして知識を広げよう。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="middle-blue">
    <div class="container">
      <div class="left">
        <h2 class="headline">
          相手をフォロー
        </h2>
        <div class="detail">
          <p>
            フォローして繋がりを広げる。<br>
            いろんな人と繋がってWebエンジニアの世界を広げよう。
          </p>
        </div>
      </div>
      <div class="right">
        <%= image_tag 'connection.png' %>
      </div>
    </div>
  </section>
</div>