<div class="container-center">

  <h1 class="posts__title">一覧画面</h1>

  <div class="posts__list">
    <% @posts.each do |post| %>
      <div class="posts__list--item">
        <%= image_tag post.user.image.thumb.url, class: "icon" %>
        <div class="body">
          <%= link_to post.title, post, class: "title" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="posts__link">
    <%= link_to '投稿画面へ', new_post_path %>
  </div>

</div>