<div class="container-center">

  <h1><%= @post.title %></h1>

  <div>
    言語：<%= @post.language %>
  </div>

  <div>
    コード：<%= simple_format(h @post.code) %>
  </div>

  <div class="posts__link">
    <%= link_to '一覧画面へ', posts_path %>
  </div>

</div>