body {
  background-color: #f8f5f2;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
}

a {
  color: rgb(0, 112, 210);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.container-center {
  margin: 0 auto;
  width: 360px;
  padding: 30px;
}