body {
  background-color: #f8f5f2;
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', sans-serif;
  line-height: 180%;
  letter-spacing: 0.05em;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

a {
  color: rgb(0, 112, 210);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.footer {
  width: 100%;
  background: #3da9fc;
  color: #fffffe;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  letter-spacing: 0.2em;
}


// エラーメッセージ用
.field_with_errors {
  display: contents;

  input {
    border: 2px solid #ef4565;
    background: #fec7d7;
  }
}

.error-messages {
  color: #ef4565;
}