.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 30px;
  background: #3da9fc;

  @media (max-width: 414px) {
    height: 60px;
    justify-content: space-between;
    padding: 0 15px;
  }

  & a:hover {
    text-decoration: none;
  }

  &__logo {
    color: #232323;
    font-size: 30px;
    font-family: 'Futura', sans-serif;

    @media (max-width: 414px) {
      font-size: 1.5em;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    position: relative;

    &-item {
      margin-right: 20px;

      @media (max-width: 414px) {
        margin-right: 5px;
        font-size: 14px;
      }

      &--img {
        cursor: pointer;
        margin-right: 30px;
        display: flex;
        align-items: center;

        @media (max-width: 414px) {
          margin: 0;
        }

        &:hover {
          .icon {
            box-shadow: 0 0 20px white;
            transition: .2s;
          }

          .fa-caret-down {
            color: white;
            transition: .2s;
          }

          @media (max-width: 1024px) {
            .icon {
              box-shadow: none;
              transition: none;
            }

            .fa-caret-down {
              color: black;
              transition: none;
            }
          }
        }

        .icon {
          width: 57px;
          height: 57px;
          border-radius: 50%;
          box-shadow: 0 0 6px gray;

          @media (max-width: 414px) {
            width: 45px;
            height: 45px;
            margin-left: 0.3em;
          }
        }

        .fa-caret-down {
          cursor: pointer;
          padding-left: 5px;

          @media (max-width: 414px) {
            padding: 0;
          }

          &.caret-down-clicked {
            color: white;
          }
        }

      }

      .link {
        border-radius: 9px;
        color: #232323;
        display: inline-block;
        padding: 15px;
        transition: .1s;
        transform: scale(1);

        @media (max-width: 414px) {
          padding: 8px;

          .responsive {
            display: none;
          }
        }

        .fa-edit {
          font-size: 20px;
          margin-right: 3px;

          @media (max-width: 414px) {
            font-size: 30px;
            width: 30px;
            vertical-align: middle;
          }
        }

        &:hover {
          background: #fffffe;
          transform: scale(1.05);
        }

        &.new {
          padding: 17px;
          color: #fffffe;
          background: #094067;

          @media (max-width: 414px) {
            padding: 10px;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  display: none;

  &__item {

    .link {
      display: block;
      padding: 20px;
      color: #555;
    }

    &:hover {
      background-color: #eee;
    }
  }
}

.is-open {
  display: block;
  position: absolute;
  right: 0;
  top: 70px;
  width: 200px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);

  @media (max-width: 414px) {
    top: 53px;
  }
}