@import "./variables";

.user-auth {

  &__title {
    font-size: $font-size_title;
  }

  &__form {
    margin: 20px 0;

    &-field {
      margin-bottom: 15px;

      label {
        display: none;
      }

      input {
        width: 100%;
      }
    }

    .btn {
      width: 100%;
    }
  }
}