.password-forget {
  margin: 60px auto;
  width: 600px;
  padding: 30px;
  background: white;

  .title {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    padding: 10px;
    margin-bottom: 45px;
  }

  .form {
    margin: 0 45px;

    .field {
      margin-bottom: 30px;
    }

    input {
      padding: 15px;
      font-size: 18px;
      width: 100%;
      box-sizing: border-box;
    }

    .submit-field {
      margin-bottom: 30px;

      .btn {
        display: block;
        background-color: #094067;
        color: #fffffe;
        border-radius: 3px;
        border: none;
        cursor: pointer;
      }
    }
  }

  .link-description {
    margin-bottom: 10px;
    text-align: center;
  }
}