.user-auth {
  margin: 60px auto;
  width: 450px;
  padding: 30px;
  background: #fffffe;
  box-shadow: 0 0 6px #5f6c7b;

  @media (max-width: 414px) {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
    background: none;
  }

  .title {
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    padding: 10px;
    margin-bottom: 45px;

    @media (max-width: 414px) {
      font-size: 30px;
      line-height: 30px;
      padding: 0;
      margin: 1em 0;
    }
  }

  .form {
    margin: 0 45px;

    @media (max-width: 414px) {
      margin: 0 0.5em;
    }

    .field {
      margin-bottom: 20px;

      @media (max-width: 414px) {
        margin-bottom: 0.8em;
      }
    }

    input {
      padding: 15px;
      font-size: 18px;
      width: 100%;
      box-sizing: border-box;
    }

    .submit-field {
      margin-bottom: 30px;

      .btn {
        background: #094067;
        color: #fffffe;
        border-radius: 0.3em;
        cursor: pointer;
        border: none;
        margin-bottom: 0.5em;

        &.guest {
          background: #078080;
          display: block;
          text-decoration: none;
          text-align: center;
          padding: 15px;
        }

        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .link-description {
    margin-bottom: 5px;
    text-align: center;

    @media (max-width: 414px) {
      font-size: 0.9em;
    }
  }
}