.user-show {

  &__top {
    margin: 30px auto;
    width: 500px;
    padding: 30px;
    background: white;

    .area__image {
      text-align: center;
      margin-bottom: 10px;

      .icon {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 6px gray;
      }
    }

    .area__name {
      text-align: center;
      font-size: 27px;
      margin-bottom: 15px;
    }

    .area__profile {
      text-align: center;
      margin-bottom: 30px;
    }

    .area__button {
      text-align: center;

      .btn {
        text-decoration: none;
        font-size: 16px;
        padding: 14px 26px;
        color: #fffffe;
        background: #5f6c7b;
        border-radius: 3px;
      }
    }

    .area__follow {
      text-align: center;

      .btn {
        text-decoration: none;
        font-size: 1em;
        padding: 1em 1.5em;
        border-radius: 1.5em;

        &.yet {
          color: rgb(65, 173, 255);
          background: white;
          border: 2px solid rgb(65, 173, 255);

          &:hover {
            transition: .1s;
            background: rgba(65, 173, 255, 0.1);
          }
        }

        &.done {
          color: white;
          background: rgb(65, 173, 255);

          .hover {
            display: none;
          }

          &:hover {
            background: red;

            .nomal {
              display: none;
            }

            .hover {
              display: inline;
            }
          }
        }
      }
    }
  }

  &__center {
    margin: auto;
    width: 600px;
    flex-wrap: wrap;
    display: flex;

    input[name="hide"] {
      display: none;
    }

    .tab {
      width: calc(100%/4);
      height: 50px;
      line-height: 50px;
      background-color: #d8eefe;
      text-align: center;
      order: -1;
      cursor: pointer;

      &:hover {
        transition: .1s;
        opacity: 0.9;
        box-shadow: 0 0 .2em gray;
      }

      i {
        margin-right: 0.5em;
      }
    }

    input:checked+.tab {
      background-color: #094067;
      color: #fffffe;
    }

    .content {
      display: none;
      width: 100%;
      margin-top: 2em;

      .count {
        text-align: center;
        margin-bottom: 0.5em;
      }

      .list {

        .item {
          padding: 15px;
          border-top: 1px solid #6665658f;
          display: flex;
          align-items: center;

          .area-image {
            margin-right: 1em;

            .icon {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              box-shadow: 0 0 3px gray;

              &:hover {
                opacity: 0.8;
                transition: .1s;
              }
            }
          }

          .area-body {
            .title {
              font-size: 1.1em;

              .link {
                color: #232323;
              }
            }

            .details {
              color: #8c9aaa;
              font-size: 0.8em;

              .date-time {
                margin-right: 1em;
              }

              .view {
                margin-right: 0.3em;
              }
            }
          }
        }
      }
    }

    input:checked+.tab+.content {
      display: block;
    }
  }
}