.post-show {
  margin: 0 auto;
  margin-top: 30px;
  width: 1000px;

  .main {
    background: white;
    padding: 30px;
    margin-bottom: 30px;

    .top {
      margin-bottom: 30px;

      &__area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5em;

        .left {
          display: flex;

          .area-language {
            display: inline-block;
            background: #094067;
            color: #fffffe;
            padding: 0 0.5em;
            border-radius: 0.2em;
            margin-right: 2em;
          }

          .area-datetime {
            font-size: 0.8em;
            color: #5f6c7b;
          }
        }

        .right {
          .area-pv {
            color: #5f6c7b;
          }
        }
      }

      .area-title {
        font-size: 40px;
        line-height: 40px;
        width: 100%;
      }
    }

    .area-code {
      font-size: 18px;

      h1,
      h2,
      h3,
      h4 {
        padding: 0.3em 0;
        margin: 0.3em 0;
      }

      h1,
      h2 {
        border-bottom: 1px solid #ddd;
      }

      h1 {
        font-size: 1.8em;
      }

      h2 {
        font-size: 1.6em;
      }

      h3 {
        font-size: 1.4em;
      }

      h4 {
        font-size: 1.2em;
      }

      pre {
        background: #d8eefe;
        padding: 0.6em;
        margin: 0.3em 0;
      }

      code {
        background: rgb(230, 228, 228);
      }
    }
  }

  .right {
    float: right;
  }

}