.post-form {
  margin: 0 auto;
  width: 1500px;

  @media (max-width: 1024px) {
    width: 100%;
  }

  .form {
    margin-top: 60px;

    @media (max-width: 1024px) {
      margin: 0 0.5em;
      margin-top: 3em;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 20px;
      box-sizing: border-box;
    }

    .top {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .title-field {
        width: 78%;
        margin-right: 10px;

        @media (max-width: 768px) {
          width: 100%;
          margin: 0;
          margin-bottom: 0.5em;
        }
      }

      .select-field {
        width: 22%;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 1em;
        }
      }
    }

    .code-field {
      margin-bottom: 10px;

      textarea {
        height: 900px;
      }
    }

    .submit-field {
      height: 40px;

      @media (max-width: 768px) {
        margin-bottom: 3em;
      }

      .btn {
        display: block;
        padding: 0.7em;
        background-color: #094067;
        color: #fffffe;
        border-radius: 3px;
        border: none;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }

  }
}