.post-form {
  margin: 0 auto;
  width: 1500px;

  @media (max-width: 1024px) {
    width: 100%;
  }

  .back {
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 10px;

    @media (max-width: 768px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    a:hover {
      opacity: 0.8;
    }
  }

  .form {

    @media (max-width: 1024px) {
      margin: 0 0.5em;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 10px;
      font-size: 20px;
      border: 1px solid #ddd;
      box-sizing: border-box;
    }

    .top {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .title-field {
        width: 78%;
        margin-right: 10px;

        @media (max-width: 768px) {
          width: 100%;
          margin: 0;
          margin-bottom: 0.5em;
        }
      }

      .select-field {
        width: 22%;

        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 1em;
        }
      }
    }

    .code-field {
      margin-bottom: 10px;

      textarea {
        height: 900px;
      }
    }

    .submit-field {
      height: 40px;
      margin-bottom: 3em;

      .btn {
        display: block;
        padding: 0.7em;
        background-color: #094067;
        color: #fffffe;
        border-radius: 3px;
        border: none;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
    }

  }


  // ↓ここからエディター画面のスタイル設定
  .CodeMirror,
  .editor-preview,
  .editor-preview-side {
    font-family: -apple-system,
      "Segoe UI",
      "Helvetica Neue",
      "Hiragino Kaku Gothic ProN",
      メイリオ,
      meiryo,
      sans-serif;
  }

  .editor-preview,
  .editor-preview-side {

    ol,
    ul {
      margin: 1em 0;
      padding-left: 40px;
    }

    ol {
      list-style-type: decimal;
    }

    ul {
      list-style-type: disc;
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin-top: 2.2em;
      margin-bottom: 2.4rem;
    }

    h1,
    h2 {
      border-bottom: 1px solid #ddd;
      padding-bottom: 0.1em
    }

    h1 {
      font-size: 1.8em;
    }

    h2 {
      font-size: 1.6em;
    }

    h3 {
      font-size: 1.4em
    }

    h4 {
      font-size: 1.2em
    }


    p {
      line-height: 1.9;

      code {
        background-color: #eee;
        padding: 0.1em 0.4em;
        font-family: "SFMono-Regular",
          Consolas,
          "Liberation Mono",
          Menlo,
          Courier,
          monospace;
      }
    }

    pre {
      background-color: #364549;
      color: #e3e3e3;
      padding: 1em;
      margin: 1em 0;
      font-size: 1.2em;
      overflow-x: auto;
    }
  }

  // ↑ ここまでエディター画面のスタイル設定
}