.post-show {
  margin: 0 auto;
  margin-top: 30px;
  width: 1000px;
  background: #fffffe;
  box-shadow: 0 0 6px #5f6c7b;

  font-family: -apple-system,
    "Segoe UI",
    "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    メイリオ,
    meiryo,
    sans-serif;

  @media (max-width: 812px) {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }

  .main {
    padding: 30px;
    margin-bottom: 30px;

    @media (max-width: 414px) {
      padding: 1em;
      border-bottom: 1px solid #5f6c7b;
    }

    .top {
      margin-bottom: 30px;

      .back {
        margin-bottom: 15px;
        font-size: 0.9em;
        display: flex;
        justify-content: space-between;

        a:hover {
          opacity: 0.8;
        }

      }

      &__area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5em;

        .left {

          .area-language {
            font-size: 1.5em;

            .html {
              color: rgb(250, 96, 96);
            }

            .css {
              color: #1094f8;
            }

            .js {
              color: rgb(236, 196, 15);
            }

            .ruby {
              color: rgb(212, 81, 125);
            }
          }

          .area-datetime {
            font-size: 0.8em;
            color: #5f6c7b;
          }
        }

        .right {
          .area-pv {
            color: #5f6c7b;

            @media (max-width: 414px) {
              font-size: 0.8em;
            }
          }
        }
      }

      .area-title {
        font-size: 40px;
        line-height: 45px;
        width: 100%;
        word-break: break-all;

        @media (max-width: 414px) {
          font-size: 30px;
          line-height: 35px;
        }
      }
    }

    .area-code {
      color: #333;

      @media (max-width: 414px) {
        font-size: 1em;
      }

      .fa-link {
        display: none;
      }

      ol,
      ul {
        margin: 1em 0;
        padding-left: 40px;
      }

      ol {
        list-style-type: decimal;
      }

      ul {
        list-style-type: disc;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        margin-top: 2.2em;
        margin-bottom: 2.4rem;
      }

      h1,
      h2 {
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.1em
      }

      h1 {
        font-size: 1.8em;
      }

      h2 {
        font-size: 1.6em;
      }

      h3 {
        font-size: 1.4em
      }

      h4 {
        font-size: 1.2em
      }


      p {
        line-height: 1.9;
      }

      code {
        background-color: #eee;
        color: #333;
        padding: 0.1em 0.4em;
        font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
      }

      .code-frame {

        background-color: #364549;
        padding: 1em 32px;
        margin: 1.5em -32px;
        font-size: 0.9em;

        @media (max-width: 812px) {
          margin: 1.5em -30px;
        }

        @media (max-width: 414px) {
          margin: 1.5em -16px;
        }

        .code-lang {
          padding: 2px 4px;
          transform: translateY(-1em);

          span {
            padding: .5em;
            color: #fff;
            background-color: #666;
          }
        }

        .highlight {
          overflow-x: auto;
          color: #e3e3e3;

          pre {
            font-family: "SFMono-Regular",
              Consolas,
              "Liberation Mono",
              Menlo,
              Courier,
              monospace;
            line-height: 1.8;
          }

          .o,
          .p,
          .nb,
          .ni,
          .nl,
          .nn,
          .py,
          .nv,
          .w,
          .bp,
          .vc,
          .vg,
          .vi,
          .vm {
            color: #e3e3e3;
          }

          .c,
          .ch,
          .cm,
          .cp,
          .cpf,
          .c1,
          .cs,
          .gu {
            color: #9dabae;
          }

          .k,
          .kc,
          .kd,
          .kp,
          .kr,
          .kt,
          .no {
            color: #ebd247;
          }

          .l,
          .m,
          .mb,
          .mf,
          .mh,
          .mi,
          .mo,
          .se,
          .il {
            color: #a980f5;
          }

          .n,
          .fm,
          .gi,
          .na,
          .nc,
          .nd,
          .ne,
          .nf,
          .nx {
            color: #8bdf4c;
          }

          .ld,
          .s,
          .sa,
          .sb,
          .sc,
          .dl,
          .sd,
          .s2,
          .sh,
          .si,
          .sx,
          .sr,
          .s1,
          .ss {
            color: #41b7d7;
          }

          .gd,
          .kn,
          .nt,
          .ow {
            color: #ff8095;
          }
        }
      }
    }
  }

  .right {
    float: right;
    margin-right: 1em;
    margin-bottom: 3em;

    .fav {
      font-size: 1.5em;
      display: inline-block;
      transition: .1s;
      transform: scale(1);
      margin-bottom: 0.5em;

      &:hover {
        text-decoration: none;
        transform: scale(1.4);
      }

    }
  }
}