<div class="user-deactivate">
  <h2 class="title">退会する</h2>

  <p class="explanation">
    退会処理を行うと、Snippetsでの内容（投稿内容やアカウント情報）が全て削除されます。<br>
    この処理は取り消しできません。
  </p>

  <div class="delete-field">
    <%= link_to destroy_user_registration_path, data: {confirm: "アカウントを削除すると投稿内容が全て削除されます。\n本当によろしいですか？"}, method: :delete, class: "btn" do %>
      <%= icon('fas', 'user-slash') %>退会する
    <% end %>
    <%= link_to "キャンセル", edit_user_registration_path %>
  </div>

  <ul>
    <li></li>
  </ul>
</div>